@import '../../common/styles/variables.scss';

.Keypad {
    background-color: var(--keypad-background);
    box-sizing: border-box;
    width: 100%;
    padding: $gutter-xl;
    border-radius: 5px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 15px;
}

#reset-button {
    grid-column: 1 / span 2;
}

#equals-button {
    grid-column: 3 / span 2;
}