@import "/src/common/styles/variables.scss";

.ThemeToggle {
  display: flex;
  align-items: flex-end;

  color: var(--text-primary-color);
  font-size: 0.3rem;
  font-weight: bold;
}

.ThemeToggle__label {
  margin-right: $gutter-xl;
  line-height: 18px;
}

.ThemeToggle__toggle-labels {
  display: flex;
  justify-content: space-between;
  padding: 0 8px 2px 8px;
}

.ThemeToggle__toggle-inputs {
  background-color: var(--toggle-background);
  display: flex;
  gap: 2px;
  padding: 3px;
  border-radius: 10px;
  cursor: pointer;
}

input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: 0;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 1px solid transparent;
  cursor: pointer;
  background-color: var(--toggle-indicator-background);
  opacity: 0;

  &:checked {
    opacity: 1;
  }
}
