@import "/src/common/styles/themes.scss";
@import "/src/common/styles/mixins.scss";
@import "/src/common/styles/variables.scss";

.App {
  height: 100%;
  background-color: var(--main-background);
}

.App__content {
  @include center;
  width: 300px;
}

.App__settings {
  margin-bottom: $gutter-xl;
  display: flex;
  justify-content: space-between;
}

.App__name {
  color: var(--text-primary-color);
  font-weight: bold;
  font-size: 0.7rem;
}
