@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap');

html, body, div#root {
  height: 100%;
}

html {
  font-size: 32px;
}

p {
  margin: 0;
}

* {
  font-family: 'League Spartan';
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
